body{
    font-family:Arial;
    margin:0px;
  }
  a:link 
{ 
text-decoration:none; 
} 
  #background{
      position:flex;
      background:url(https://boutique.foot.fr/img/c/565.jpg) top no-repeat;
      background-color: rgba(255,255,255,0.5);
      display:flex;
      justify-content: center;   
  } 
  
  #main-content{
      display: inline-flex;
      width: 1000px;
      padding: 10px;
      justify-content: center;
      margin-top:100px;
  }
  span{
    font-size:15px;
    font-weight:bold;
  }
  /*articlelistleft*/
  /*#article-list-leftbar{
      position:flex;
      width:400px;
      height:2000px;
      align-content:column;
      border-color:black;
      border-width: 10px;
      border-style:solid;
  }*/
  /*structure page*/
  #article-list-leftbar {
      background-color:white;
      width: 300px;
      margin-right:10px;
  }
  #article-list-box {
      margin-left: 10px;
      width: 800px;
      height: 2000px;
  }
  /*leftbarappearance*/
  /*filtre*/
  #filtre{
    box-shadow: 0 0 10px grey;
  }
  #filtre-top {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: lightgray;
    text-align: center;
  }
  .filtre {
      position: flex;
      display:flex;
      flex-direction: column;
      border-bottom-color: gray;
      border-bottom-style:solid;
      border-bottom-width:1px;
      margin-bottom:5px;
      margin-top:0px;
      padding-top:0px;
      padding-left:5px;
  }
  .filtre-title {
    margin-top:5px;
    margin-bottom:5px;
  }
  
  #price > p{
    margin:0px;
  }
  #size_list{
    background-color:white;
    color:black;
  }
  #club{
    box-shadow: 0 0 10px grey;
  }
  .clubs {
      position: flex;
      align-content:column;
      border-bottom-color: gray;
      background-color:white;
      border-bottom-style:solid;
      border-bottom-width:1px;
  }
  #club-title{
    background-color:black;
    color:white;
    padding:4px;
    margin-bottom:0px;
    text-align:center;
  }
  #club_list{
    list-style-type: none;
    margin: 0px;;
    padding: 3px;;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    color:black;
  }
  .clubs{
    align-content:block;
    margin:0px;
    text-align: center;
  }
  #foreigner {
    background:white;
    color:black;
    text-decoration:none;
    margin:0px;
  }
  #home {
    color:white;
    background-color:deepskyblue;
    margin:0px;
  }
  #club1{
    color:deepskyblue;
  }
  .clubname{
    color:Black;
  }
  /*articlelistmaincontent*/
  #article-list-maincontent {
    box-shadow: 0 0 10px gray;
      position:flex;
      width:1000px;
      background-color:white;
      align-content:column;
  }
  #title{
    display:flex;
    justify-content: center;
    font-size:30px;
    text-align: center;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    width:600px;
    margin-left: auto ;
    margin-right: auto;
  }
  #article-list-top-text {
    text-align:center;
  }
  #imagepsg{
    width:200px;
    height:200px;
  }
  #imageom{
    width:200px;
    height:200px;
  }
  #imageol{
    width:200px;
    height:200px;
  }
  .article_list_link:hover{
    box-shadow:0 0 10px grey;
  }
  #article-list-top-img{
    display:flex;
    justify-content:space-around;
  }
  .imgpub{
    display:flex;
    justify-content: space-around;
    color:black;
  }
  #article_top_content_between{
    border-top-color:darkgray;
    border-top-width: 1px;
    border-top-style:solid;
    border-bottom-color:darkgray;
    border-bottom-width: 1px;
    border-bottom-style:solid;
    margin:20px;
    display:flex;
    justify-content:space-between;
  }
  .article_top_bellow{
    display:inline-flex;
    justify-content:space-between;
  }
.img_product{
  width:200px;
  height:200px;
}
#product_list_grid {
  background-color:white;
}

.article_link{
  background-color:white;
  color:black;
  font-weight: bold;
  width:210px;
  height:250px;
  margin:10px;
  margin:10px;
}
.article_link:hover{
  box-shadow: 0 0 10px grey;
  background-color:white;
}
.brand{
  display:flex;
  justify-content: center;
  margin:0px;
  padding:0px;
  color:cyan;
  font-size:10px;
}
.price{
  display:flex;
  justify-content:center;
  margin: 0px;
  padding:0px;
}
#page_button {
  display:flex;
  justify-content: center;
  background-color:white;
}
.page_button{
  border-color:gray;
  color:gray;
  border-style:solid;
  border-width:1px;
  margin-left:2px;
  padding:3px;
}
.end_text_title {
  text-decoration:none;
  font-weight:bold;
  color:black;
}
footer{
  box-sizing: border-box;
}
