.logo{
    display: flex;
    justify-content: space-around;
}

.research{
    align-self: center;
}

#logo{
    width: 250px;
    height: 200px;
}

.btn-group{
    display: flex;
    justify-content: center;
}

.new{
    background-color: #F5F5F5;
    display: flex;
    justify-content: center;

}

.selection{
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
}

.tout{
    display: flex;
    justify-content: center;
}

.row{
    display: flex;
    justify-content: center;

}

.infoP{

    display: flex;
    justify-content: center;

}


.blue{
    background-image:
linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)),
url('../projet-goal.fr/images/images.jpeg');
    display: flex;
    justify-content: center;
    color: #FFFFFF

}

footer{
    background-color: black;
}

.foot{

    border-top: 20px;

    color: #FFFFFF;
    background-color: black;

    display: flex;
    align-items: flex-start;

}

.foot-foot{


}


.rs{
    background-color: #FFFFFF;
    display: flex;
}

