.corps {
    height: 40px;
    background-color: black;
  

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  #active:hover {
    background-color: #111;
  }
  
  #active {
    background-color: dodgerblue;
  }

  .navd {
      display: flex;
      justify-content: flex-end;
  }

  .nav2 {
      height: 120px;
      background-color: white;
      display: flex;
      justify-content: space-around;
      border-bottom: 1px #ccc; 

  }


  #items {
      align-self: center;
  }

  .nav2 input[type=text] {
    padding: 6px;
    border-top: 20px;;
<<<<<<< HEAD
    /* margin-top: 8px; */
=======
    margin-top: 8px;
>>>>>>> 90e6cec572c5196cc3d611172e08bd7dd9b0586e
    margin-right: 16px;
    font-size: 17px;
  }



  input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
  
  input[type=text]:focus {
    width: 100%;
  }

  .nav3 {
      display: flex;
      justify-content: space-around;
      border-radius: 20px;
      border-top: 1px solid grey;
  }

  #research {
      align-self: center;
  }

 .carousel {
    
     height: 500px;
     /* border-top: 5px solid dodgerblue;   */
 
 }

 #maillotn {
     height: 500px;
     width: 100%;
 }



 .newsclass {
    height: 300px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;

 }

#news {
    height: 200px;
    width: 400px;
    background-color: black;
    

}

.icone {
    border: 5px solid white;
    background-color: white;
    border-radius: 10px;
}

footer {
    height: 70px;
    background-color: #333;
    display: flex;
    justify-content: space-around;

}

input[type=text]:focus {
   border: 20px solid  #333;
    background-color: dodgerblue;
  }

.newslater {
    float: left;
}

.logo{
    width: 200px;
    height: 120px;
}

form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 50px;
    height: 20px;
    background: #f1f1f1;
  }

  .mail {
    color: #f1f1f1;
    font-family: 'Courier New', Courier, monospace;
  }

.services {
    height: 150px;
    background-color: #ccc;
    display: flex;
    justify-content: space-around;
}

<<<<<<< HEAD
=======
h6 {
  text-align : center;
  margin-left: 36px;
}

>>>>>>> 90e6cec572c5196cc3d611172e08bd7dd9b0586e
h5 {
    text-decoration:underline;
<<<<<<< HEAD
}

.maquet {
    height: 800px;
    width: 100%;
    background-color: aqua;

}

=======
}
>>>>>>> 8748aecd95371b92e941bef1e7b2e8108013f63b
