
.page {
    height: 1650px;
    width: 988px;
    margin-left: 77px;
    padding: 22px;
    background-color : whitesmoke;
    }
}

.h1 {
    text-align : right;
}

.gauche {
    float : left;
    
}
.droite {
    float : right;
    
}

.img {
    width : 467px;
    height : 500px;
    margin-left : 20px;
    
}

.iconegauche {
    float : left;
    
}
.iconedroite {
    float : right;
}

p {
    text-align : center;
    font-size: bold; 
    font-size : 40px;
}

.milieu {
    width: 990px;
    height: 394px;
    padding-left: 354px;
}

.bleta {
    float : left;
    
}

.table {
    width: 50%;
    margin-left: 293px;
}

h3 {
    font-size: bold;
    font-size: 40px;
    padding-left: 288px;
}

.iconedroite {
    position: relative;
    display: none;
}

.col-xs-3 {
    float: left;
    width: 20%;
    padding: 10px;
}


.row {
    margin-left : -289px;
    float : left;
    margin-right : 70px;    
}

.thumbnail  {
    border: thin solid #f0f2f7;
}

.milieu1 {
    float : left;
}

img {
    border: 1px thin solid #ddd; /* Gray border */
    border-radius: 5px;  /* Rounded border */
    padding: 0px; /* Some padding */
    
}

pre {
    text-align : center;
}
h4 {
    text-align : center;
    margin-right: 299px;
    margin-left : -41px;
}

a {
    text-align : center;
    margin-right : 20px;
    margin-left: 56px;
}
h5 {
    text-align : center;
}

h6 {
    text-align : center;
    margin-left: 36px;
  }


.card:hover {
    background-color:lightblue;
}