.container1 {
    width: 100%;
    padding-right: 277px;
    padding-left: 280px;
    margin-right: auto;
    margin-left: auto;
}

.table {
    width: 67%;
    margin-bottom: 1rem;
    color: #212529;
    margin-left: 104px;
}

a {
    text-decoration: underline;
    margin-left : 500px;
}